body {
}
/*.container{
    background-color:aqua
}
*/
p{
	text-align: center;
}
.form-horizontal
{
	text-align: center;
}
.groups_box{
  float: right;
  
}
form{
	text-align: center;
}
.navbar-default {
  background-color:#782078;
  border-color:#9c27b0;
}
a{
	color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: gray;
}
.navbar-default .navbar-brand {
    color:white;
}
.titleMid{
	color:#782078;
	font-size:20px;
	
}

.piImg{

          border-left: 5px solid #782078;
          background-color: lightgrey;
          color: #782078;
          text-align: center;
          font-family: "Times New Roman", Georgia, Serif,sans-serif;
          text-decoration: italic;
          font-size: 25px;
          margin: 10px;
          margin-bottom: 60px;

}

form{
	text-align: center;
	margin-left: 230px;
	margin-top: 150px;
}
button{
	background-color: #782078;
	color: white;
}

/*h1, .h1 {
    font-size: 36px;
}*/
