body {
}
/*.container{
    background-color:aqua
}
*/
p{
	text-align: center;
}
.form-horizontal
{
	text-align: center;
}
form{
	text-align: center;
}
/*.navbar-default {
  background-color:#9c27b0;
  border-color:#9c27b0;
}
a{
	color: white;
}*/
/*h1, .h1 {
    font-size: 36px;
}*/
