<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <script src={{static_url("Scripts/jquery-1.9.1.min.js")}}></script>
        <script src={{static_url("Scripts/bootstrap.min.js")}}></script>
        <link rel="stylesheet" href="{{static_url('Content/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{static_url('Content/mystyle.css')}}">
    </head>
    <body>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Chat Game</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                            {% if name != "" %}
                            <li><a href="/group">Groups</a></li>
                            <li><a href="/people">People</a></li>
                            <!-- <li ><a href="/pchat">ChatFriend</a></li> -->
                            {% end %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right" >
                          {% if name == "" %}
                          <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                          {% end %}
                          {% if name != "" %}
                          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{name}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                             <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                          </li>
                         {% end %}
                        </ul>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!-- Body -->
        <div class="container">

            <div class="row">
                <p class="titleMid" >Leader Board</p>
                <hr>

            </div>

            <div class="row">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="{{static_url('images/1.jpeg')}}" alt="" class="img-circle img-responsive"/>
                        <!-- <p>
                            New Image
                        </p> -->
                        <p class="piImg">
                            Super Friend
                        </p>

                    </div>

                </div>

                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="{{static_url('images/1.jpeg')}}" alt="" class="img-circle img-responsive"/>
                        <!-- <p>
                            New Image
                        </p> -->
                        <p class="piImg">
                            Party Man
                        </p>

                    </div>

                </div>
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="{{static_url('images/1.jpeg')}}" alt="" class="img-circle img-responsive"/>
                        <!-- <p>
                            New Image
                        </p> -->
                        <p class="piImg">
                            Chatty One
                        </p>

                    </div>

                </div>

                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="{{static_url('images/1.jpeg')}}" alt="" class="img-circle img-responsive"/>
                        <!-- <p>
                            New Image
                        </p> -->
                        <p class="piImg">
                            Public Figure
                        </p>

                    </div>

                </div>
            </div>


            <div class="row">

                <div  class="col-sm-3">

                    <table class="table">
                        <thead>
                            <!-- <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>

                            </tr> -->
                        </thead>
                        <tbody>

                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>
                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div  class="col-sm-3">

                    <table class="table">
                        <thead>
                            <!-- <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>

                            </tr> -->
                        </thead>
                        <tbody>

                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>
                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

                <div  class="col-sm-3">

                    <table class="table">
                        <thead>
                            <!-- <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>

                            </tr> -->
                        </thead>
                        <tbody>

                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>
                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div  class="col-sm-3">

                    <table class="table">
                        <thead>
                            <!-- <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>

                            </tr> -->
                        </thead>
                        <tbody>

                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>
                            <tr class="success">
                                <td>1</td>
                                <td>BLUM</td>

                            </tr>
                            <tr class="danger">
                                <td>2</td>
                                <td>Moe</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>




        </div>




    </body>
</html>
