<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <script src={{static_url("Scripts/jquery-1.9.1.min.js")}}></script>
  <script src={{static_url("Scripts/bootstrap.min.js")}}></script>
  <link rel="stylesheet" href="{{static_url('Content/bootstrap.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('Content/mystyle.css')}}">

</head>
<body>
  <div class="container">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Chat Game</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                      <li><a href="/group">Groups</a></li>
                      <li class="active"><a href="/people">People</a></li>
                      <!-- <li ><a href="/pchat">Chat</a></li> -->
                  </ul>
                  <ul class="nav navbar-nav navbar-right" >
                    {% if name == "" %}
                    <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    {% end %}
                    {% if name != "" %}
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{name}} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                      </ul>
                    </li>
                   {% end %}
                  </ul>
              </div>
          </div>
      </nav>
  </div>
  <section>
  <div class="container">
      <a class="btn btn-success add" href="/pchat">Chat with Friends</a>
          <h2 style="color:purple"> My Friends</h2>
         <hr />
        <div class="row" id="test" style="margin-top: -100px;">

                {% if name != "" %}
                    {% for friend in friendsP %}

                            <form action="/remove" method=POST >
                              <div class="form-group">
                                <div class="col-lg-4 col-lg-pull-2 col-sm-4 col-xs-4">

                                    <h2 class="text-primary">{{friend}} </h2>
                                    <img class="img-thumbnail" src="{{static_url('images/1.jpeg')}}" >
                                     <input type="hidden"  id="friendtodelete" value="{{friend}}"  name="friendtodelete" >

                                <input type="submit" class="btn btn-primary add" value="remove"></input>
                              </div>
                              </div>
                            </form>

                    {% end %}
                {% end %}


              </div>


            <hr />
            <h2 style="color:purple"> All Friends</h2>
            <hr />
      <div class="row" id="test" style="margin-top: -100px;">

                <!-- All Friends -->
                <!-- <hr /> -->

                {% if name != "" %}
                    {% for friend in allFriends %}


                            <form action="/join" method=POST >
                              <div class="form-group">
                                <div class="col-lg-4 col-lg-pull-2 col-sm-4 col-xs-4">
                                    <h2 class="text-primary">{{friend}} </h2>
                                    <img class="img-thumbnail" src="{{static_url('images/1.jpeg')}}" >
                                      <input type="hidden"  id="friendtojoin" value="{{friend}}"  name="friendtojoin" >

                                <input type="submit" class="btn btn-primary add" value="add Friend">
                              </div>
                              </div>
                            </form>

                    {% end %}
                {% end %}
            </div>
            </section>


            </div>



        </div>


</body>
</html>
