<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{static_url('Content/bootstrap.css')}}">
        <link rel="stylesheet" type="text/css" href="{{static_url('Content/mystyle.css')}}">
    </head>
    <body>

        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Chat Game</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>
                            <li><a href="group.html">Group</a></li>
                            <li><a href="#">People</a></li>
                            <li><a href="/login">Login</a></li>
                            <li class="active"><a href="/signup">Register</a></li>
                        </ul>



                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!-- Body -->
        <div class="container">

            <!--       horozintal form -->
            <br>
            <form ACTION="/signup" METHOD=POST class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username :</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                </div>
               
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </div>
            </form>


        </div>




    </body>
</html>
